Django==4.2.30
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-environ==0.11.2
django-filter==23.5
django-cors-headers==4.3.1
django-jazzmin==2.6.1
drf-spectacular==0.30.0
Pillow==10.4.0
pytest==7.4.4
pytest-django==4.8.0
django-anymail[brevo]==14.0
